# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages

requests==2.31.0
pydantic==2.6.4
psycopg2-binary==2.9.9
python-dotenv==1.0.1